#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header{
  text-align: center;
  margin: 0px auto;
}
h1, h2{
  font-size: 3rem;
}
h2{
   margin-right: 25px;
}
.stats{
  display: flex;
  justify-content: center;
}
.meatpie{
  height: 25em;
  padding:1.5em; 
  margin: -50px 0;
}
.meatpie:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.meatpie:active{
  cursor: pointer;
  transform: scale(0.95);
}


.container{
  padding: 50px;
  display: flex;
justify-content: center;
}
.upgrade{
  border: 2px solid rgba(153, 153, 153, 0.697);
  padding: 20px 10px;
  margin-right: 25px;
  width: 300px;
  line-height: 0.5;
  height: 200px;
  font-size: 1.7rem;
  border-radius: 20px;
}
button{
  color: white;
  background-color: #29873F;
  height: 3rem;
  border:1px solid transparent;
  border-radius: 10px;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family:inherit;
  margin-top: 10px;
}